body {
    background-color: black;
    color: aqua;
}
#content {
    width: 960px;
    margin: 150px auto;
    text-align: center;
}
td {
    width:95px;
    height:95px;
    max-height: 95px;
    background-color:#00ff33; 
}
td img {
    width: 95px;
    height: 94.5px;
    vertical-align: middle;
}
table {
    margin: 0 auto;
    cursor: url('../img/chuizi.png'),auto;
    float: left;
}
.panel {
    box-shadow: 5px 5px 15px #eee;
}
.panel td {
    height: 30px;
    background-color: white;
}
.panel td:first-child {
    width: 40%;
    text-align: right;
}
.cursor {
    animation: cursor 0.2s;
}
#btns {
    width: 120px;
    float: left;
    margin-left: 30px;
}
#btns a {
    display: inline-block;
    width: 120px;
    height: 30px;
    padding: 5px 10px;
    line-height: 30px;
    vertical-align: middle;
    background-color: white;
    color: aqua;
    text-decoration: none;
    font-size: 26px;
    border-radius: 5px;
}
#btns a:hover {
    box-shadow: 0 0 10px #ccc;
}
#btns #end-btn {
    background-color: #c66;
    margin-top: 10px;
}
@keyframes cursor {
  0% {cursor: url("../img/chuizi.png"), auto;}
  90% {cursor: url("../img/chuizi2.png"), auto;}
  100% {cursor: url("../img/chuizi.png"), auto;}
}
        
